@model BotCombat.Web.Data.Domain.Game
@{
    ViewData["Title"] = "Game #" + Model.Id;
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <canvas id="canvas" style="background-color: beige;width:100%"></canvas>
    <div id="log"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',
        function() {
            var game = new Game($.parseJSON('@Html.Raw(Model.Json)'), '#canvas', '#log');
            game.play();
        });
</script>